<h1><%= @user.name %>のページ</h1>
  <%=image_tag @user.image.to_s %>
<p>メールアドレス: <%= @user.email %></p>
  <h1>お気に入り一覧</h1>
  <p><%= notice %></p>
  <table align="center">
    <tr>
      <th>image</th>
<!--      <th>タイトル</th> -->
      <th>Content</th>
    </tr>
  
  <% @favorite_blogs.each do |favorite| %>
    <tr>
      <td><%= image_tag favorite.image %></td>
      <td><%#= favorite.title %></td>
      <td><%= favorite.content %></td>
    </tr>
  <% end %>

  </table>

