<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrapシリーズ課題</title>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">Bootstrapテキストページ</a></li>
        <li><%= link_to'トップページ', root_path %></li>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <p>NTTコム チェオ株式会社</p>
      <p>© 2002-2018 Copyright NTTComCHEO Corp.</p>
    </footer>
  </body>

</html>