<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrapシリーズ課題</title>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">Bootstrapテキストページ</a></li>
        <li><%= link_to'トップページ', root_path %></li>
      </ul>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    
    <% if logged_in? %>
      <span class="label label-default"><%= link_to "Myページ", user_path(current_user.id) %></span>
      <span class="label label-default"><%= link_to "ブログ一覧", blogs_path %></span>
      <span class="label label-default"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></span>

    <% else %>
    　<span class="label label-info"><%= link_to "ユーザー登録", new_user_path %></span>
      <span class="label label-info"><%= link_to "ログイン", new_session_path %></span>
    <% end %>

    <%= yield %>
  </body>

  <footer>
    <p>NTTコム チェオ株式会社</p>
    <p>© 2002-2018 Copyright NTTComCHEO Corp.</p>
  </footer>


</html>